
<mat-grid-list cols="1" *ngIf="!posts; else divHeroe">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>

</mat-grid-list>

<ng-template #divHeroe>
  <div fxLayout="row"
       fxLayout.xs="column"
       fxLayoutGap="30px"
       *ngFor="let post of posts">

    <div fxFlex="50">
      <h1> Nombre del Alimento <small>- {{post.titulo}}</small></h1>
      <mat-divider></mat-divider>
      <br>
      <img [src]="post | imagen">
    </div>
    <div fxFlex="50">
      <h1>Delicia Chapina</h1>
      <mat-divider></mat-divider>

      <mat-list>
        {{post.contenido}}
        <mat-list-item> Ingredientes: {{ post.ingredientes }}</mat-list-item>
      </mat-list>

      <br>

      <button mat-button
              color="warn"
              (click)="regresar()">
        Regresar
      </button>
    </div>
  </div>
</ng-template>

